@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// FONTS
$font-stack: 'Open Sans', sans-serif;

// COLORS
$primary-color: #000;
$secondary-color: #4d13d1;
$bg-primary: #fbf8f3;
$orange-color: #ff962a;
$grey-light: #e5e5e5;
$grey-medium: #bbb;
$grey-dark: #4f4f4f;
$white: #fff;