@import "./base";
@import "./mixin";
@import "./placeholder";

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
}

header{
    @extend %padding-sections;

    nav{
        @extend %flex-row;

        .logo{
            font-size: 1.2em;
            font-weight:bold;
        }

        button{
            display: none;
            border: none;
        }
    }
}

#presentation{
    @extend %padding-sections;
    @extend %flex-row;
    flex-wrap: wrap;

    .description{
        order: 0;

        h1{
            font-size: 2.2em;
            font-weight: bold;
        }

        p{
            @include handle-paragraphe(block, 3vh 0, $grey-dark, 1.8em, 600)
        }

        a{
            @extend %button-link;
            text-decoration: underline 2px solid $secondary-color;
        }
        
        #started{
            color: $white ;
            background-color: $secondary-color;
            text-decoration: none;
        }

        ul{
            list-style-image: url("../assets/checkmark.svg");
            
        }

    }

    #illustration{
        order: 1;
        img{
            width: 100%;
            height: auto;
        }
    }
}

#advantage{
    @extend %padding-sections;
    @extend %flex-row;
    flex-wrap: wrap;

    .description{

        h2{
            font-size: xx-large;
        }

        #why-fiber{
            color: $secondary-color;
            font-weight: bold;
        }

        .assurance{
            margin: 3vh 3vw;

            h3{
                font-weight: 900;
                font-size: 1.1em;
            }

            p{
                @include handle-paragraphe(block, 2vh 0, $grey-dark, 1.8em, 600);
            }
        }
    }

    #guide-acces{
        background: $secondary-color;
        padding: 3vh 5vw 0;
        border-radius: .5em;

        h2{
            color: $white;
        }

        p{
            @include handle-paragraphe(block, 2vh 0, $white, 1.8em, 300);
        }

        a{
            width: 100%;
            @extend %button-link;
            margin: 3vh 0 5vh 0;
            text-decoration: none;
            background: $white;
            text-align: center;
        }

        img{
            width: 100%;
            height: auto;
            border-radius: .5em;
            margin-bottom: 0;
            display: block;
        }
    }

    .slider{
        @extend %padding-sections;
        @extend %flex-row;
        flex-wrap: wrap;

        aside{
            margin: 2vh 0;
            border: 1px solid $grey-light;
            border-radius: .5em;
            padding: 3vh 3vw;

            .title{

                img, h3, .income{
                    display: block;
                }

                img{ 
                    grid-area: photo;
                    align-self: end; 
                }

                h3{ 
                    grid-area: title;
                    align-self: end;
                    margin-left: 1em;
                    color: $secondary-color;
                    font-size: 0.95em;
                    font-weight: bolder;
                    letter-spacing: .01em;
                }

                .income{ 
                    grid-area: income;
                    align-self: start;
                    margin-left: 1em;
                    font-weight: 700;
                    font-size: 0.95em; 
                }

                display: grid;
                grid-template-columns: 50px 1fr;
                grid-template-rows: 2fr 1fr;
                grid-template-areas: 
                "photo title"
                "photo income"
                ;
            }

            p:not(.income){
                @include handle-paragraphe(block, 2vh 0, $grey-dark, 1.8em, 600);
            }

            a{
              @extend %button-link;
              text-decoration: none;
              width: 100%;
              text-align: center;
              border: 1px solid $grey-light;
              border-radius: .3em;  
            }
        }
    }
}

@media screen and (max-width:700px) {
    header{
        nav{
            justify-content: space-between;

            p{
                display: inline-block;
            }

            button{
                display: block;
                background-color: $white;
            }

            ul, div{
                display: none;
            }
        }
    }

    #presentation{

        #illustration{
            order: 0;
            margin-top: -10vh;
        }

        .description{
            order: 1;
            margin: 2vh 0;

            table{
                display: none;
            }

            a{
               display: block;
               width: 100%;
               text-align: center; 
            }

            ul{
                display: block;
                margin-left: 6vw;
            }
        }
    }

    #advantage{
    
        .description{
    
            .assurance{
                margin: 6vh 0;
            }
        }
    
        #guide-acces{
            
            
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    
}