@import "./base";
@import "./mixin";
@import "./placeholder";

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
}

header{
    @extend %padding-sections;
    background: $bg-primary;
    nav{
        @extend %flex-row;
        justify-content: space-between;

        .logo{
            font-size: 1.2em;
            font-weight:bold;
        }

        ul{
            list-style-type: none;
            display: flex;

            li{
                margin: 0 1vw;
            }

            li > a{
                text-decoration: none;
                color: $primary-color;
                display: inline-block;
            }
        }

        div > a{
            padding: 2vh 2vw;
            color: $primary-color;
            font-weight: bold;
            text-decoration: none;
        }

        #signup{
            padding: 2vh 2vw;
            color: $white;
            background: $secondary-color;
            font-weight: bold;
            border-radius: .4em; 
        }


        button{
            display: none;
            border: none;
        }
    }
}

#presentation{
    @extend %padding-sections;
    @extend %flex-row;
    flex-wrap: wrap;
    background: $bg-primary;

    .description{
        width: 49%;
        order: 0;
        padding: 8vh 0;

        table{
            p{
                font-weight: 600;
            }
        }

        h1{
            font-size: 2em;
            font-weight: bold;
        }

        p{
            @include handle-paragraphe(block, 1vh 0, $grey-dark, 1.5em, 400);
        }

        a{
            @extend %button-link;
            text-decoration: underline 2px solid $secondary-color;
        }
        
        #started{
            color: $white ;
            background-color: $secondary-color;
            text-decoration: none;
        }

        ul{
            list-style-type: none;
            list-style-position: inside;
            margin-top: 0.8em;
            display: inline-flex;

            li{
                display: flex;
                align-items: center;
                font-size: 0.7em;
                font-weight: 700;

                &::before{
                    content: url("../assets/checkmark.svg");
                    margin-right: .5em;
                }
            }

            li:not(:first-child){
                margin-left: 1em;
            }
            
        }

    }

    #illustration{
        width: 51%;
        order: 1;
        img{
            width: 100%;
            height: auto;
        }
    }
}

#advantage{
    @extend %padding-sections;
    @extend %flex-row;
    flex-wrap: wrap;

    .description{

        #why-fiber{
            color: $secondary-color;
            font-weight: bold;
            //display: block;
            grid-area: whyFiber;
        }

        h2{
            font-size: xx-large;
            //display: block;
            grid-area: title;
        }

        .assurance:nth-child(1){
            grid-area: build;
        }

        .assurance:nth-child(2){
            grid-area: add;
        }

        .assurance:nth-child(3){
            grid-area: responsive;
        }

        .assurance{
            margin: 3vh 3vw;

            h3{
                font-weight: 900;
                font-size: 1.1em;
            }

            p{
                @include handle-paragraphe(block, 2vh 0, $grey-dark, 1.5em, 500);
            }
        }

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "whyFiber whyFiber whyFiber"
        "title title title"
        "build add responsive";
        gap: 5px;

    }

    #guide-acces{
        background: $secondary-color;
        padding: 8vh 5vw 0;
        border-radius: .5em;
        display: grid;

        h2{
            color: $white;
            grid-area: title;
        }

        p{
            grid-area: text;
            @include handle-paragraphe(block, 2vh 0, $white, 1.8em, 300);
        }

        a{
            grid-area: button;
            width: 70%;
            @extend %button-link;
            margin: 3vh 0 5vh 0;
            text-decoration: none;
            background: $white;
            text-align: center;
        }

        img{
            grid-area: img;
            width: 100%;
            height: auto;
            border-radius: .5em;
            margin-bottom: 0;
            display: block;
            align-self: end;
        }

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "title img"
        "text img"
        "button img";
        column-gap: 15px;
        row-gap: 2px;
    }

    .slider{
        //@extend %padding-sections;
        padding: 4vh 0;
        //@extend %flex-row;
        //flex-wrap: wrap;
        display: flex;
        position: relative;

        aside{
            opacity: 0;
            transition: opacity 0.1s ease-out;
            width: 45%;
            min-height: 320px;
            margin: 2vh 0;
            border: 1px solid $grey-light;
            border-radius: .5em;
            padding: 3vh 3vw;

            .title{

                img, h3, .income{
                    display: block;
                }

                img{ 
                    grid-area: photo;
                    align-self: end; 
                }

                h3{ 
                    grid-area: title;
                    align-self: end;
                    margin-left: 1em;
                    color: $secondary-color;
                    font-size: 0.95em;
                    font-weight: bolder;
                    letter-spacing: .01em;
                }

                .income{ 
                    grid-area: income;
                    align-self: start;
                    margin-left: 1em;
                    font-weight: 700;
                    font-size: 0.9em;
                    color: $grey-dark; 
                }

                display: grid;
                grid-template-columns: 50px 1fr;
                grid-template-rows: 2fr 1fr;
                grid-template-areas: 
                "photo title"
                "photo income"
                ;
            }

            p:not(.income){
                @include handle-paragraphe(block, 2vh 0, $grey-dark, 1.8em, 600);
            }

            a{
              @extend %button-link;
              text-decoration: none;
              width: 100%;
              text-align: center;
              border: 1px solid $grey-light;
              border-radius: .3em;  
            }
        }

        aside.active {
            opacity: 1;
            transition: opacity .2s ease-in-out;
            width: 55%;
            max-height: 320px;
            position: absolute;
            transform: translateX(45%);
        }
    }

    .cmd-slider{

        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-700%);
        position: relative;

        button{
            width: 35px;
            height: 35px;
            padding: 8px;
            border-radius: 50%;
            border: none;
        }
    }
}

footer{
    @extend %padding-sections;
    @extend %flex-row;
    flex-wrap: wrap;
    background: $bg-primary;

    .container-footer{
        margin: 2vh 0;

        h4{
            font-weight: bold;
            font-size: .95em;
        }

        p{
            @include handle-paragraphe(block, 2vh 0, $grey-dark, 1.7em, 400);
        }

        ul{
            list-style-type: none;

            li{
                display: block;
                margin: 2vh 0;
                font-weight: 500;
            }

            a{
                text-decoration: none;
                color: $grey-dark;
            }
        }
    }
}

@media screen and (max-width:700px) {
    header{
        nav{
            justify-content: space-between;

            p{
                display: inline-block;
            }

            button{
                display: block;
                background-color: $white;
            }

            ul, div{
                display: none;
            }
        }
    }

    #presentation{

        #illustration{
            width: 100%;
            order: 0;
            margin-top: -10vh;
        }

        .description{
            width: 100%;
            order: 1;
            margin: 2vh 0;
            padding:0;

            h1{
                font-size: 2.2em;
            }

            table{
                display: none;
                
            }

            a{
               display: block;
               width: 100%;
               text-align: center; 
            }

            ul{
                display: flex;
                flex-direction: column;

                li:not(:first-child) {
                    margin-left: 0;
                }
            }

            p{
                @include handle-paragraphe(block, 3vh 0, $grey-dark, 1.8em, 600);
            }
        }
    }

    #advantage{
    
        .description{
    
            .assurance{
                margin: 6vh 0;
            }

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "whyFiber"
            "title"
            "build" 
            "add" 
            "responsive";
            gap: 0;

        }
    
        #guide-acces{

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "title"
            "text"
            "button"
            "img";
            column-gap: 0px;
            row-gap: 15px;

            a{
                width: 100%;
            }
            
            img{
                width: 100%;
                height: auto;
            }
        }

        .slider{

            aside{
                max-height: 320px;
            }
            aside.active {
                width: 65%;
                max-height: 720px;
                transform: translateX(25%);
            }
        }

        .cmd-slider{
            transform: translateY(-500%);
        }

    }

    footer{
        flex-direction: column;
    }
    
}